ion-content {
  --background: white;
}

ion-toolbar {
  --background: transparent;
  background-size: cover;
  height: 250px;

  -webkit-animation: fade 300ms;
  animation: fade 300ms;
}

ion-back-button {
  --icon-font-size: 38px;
}

ion-item span {
  &:not(:empty):not(:last-child):after {
    content: ':';
  }
  &.measurement {
    margin-left: 3px;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
