<ion-header *ngIf="!isLoading">
  <ion-toolbar
    [style.background-image]="'url('+ drink.imageUrl +')'"
    [style.background-repeat]="'no-repeat'"
  >
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        icon="arrow-back-circle"
        defaultHref="/featured"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onFavorite()">
        <ion-icon
          [name]="isFavorite ? 'heart' : 'heart-outline'"
          color="danger"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading" class="ion-margin-horizontal">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <h1>{{ drink.name }}</h1>
        <p>{{ drink.instructions }}</p>
        <ion-list class="ion-no-margin">
          <ion-list-header>Measurements</ion-list-header>
          <ion-item *ngFor="let ingredient of drink.ingredients">
            <span class="ion-text-capitalize">{{ ingredient.name }}</span>
            <span class="measurement" *ngIf="ingredient.measurement"
              >{{ ingredient.measurement }}</span
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
