<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row
      *ngIf="featuredDrinks && featuredDrinks.length > 0"
      (click)="onDrinkSelect(featuredDrinks[0].id)"
    >
      <ion-col size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-left"
              >{{ featuredDrinks[0].name }}</ion-card-title
            >
          </ion-card-header>
          <ion-img
            class="ion-padding-horizontal"
            [src]="featuredDrinks[0].imageUrl"
          ></ion-img>
          <div class="ion-margin">
            <ion-chip
              *ngFor="let ingredient of featuredDrinks[0].ingredients.slice(0,2)"
            >
              <ion-label>{{ ingredient.name }}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="featuredDrinks && featuredDrinks.length >= 5">
      <ion-col size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-list>
            <ion-item
              detail
              *ngFor="let drink of featuredDrinks.slice(1)"
              (click)="onDrinkSelect(drink.id)"
            >
              <ion-avatar slot="start">
                <ion-img [src]="drink.imageUrl"></ion-img>
              </ion-avatar>
              <ion-label>
                <div>{{ drink.name }}</div>
                <span
                  class="ingredient-sm"
                  *ngFor="let ingredient of drink.ingredients.slice(0,2)"
                  >{{ ingredient.name }}
                </span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
