ion-card,
ion-list {
  --ion-item-background: white;
}

ion-chip {
  font-family: 'Hind Siliguri', sans-serif;
  border-radius: 0;
  background-color: #f1f1f1;
  padding: 0 8px;
  font-size: 13px;
  height: 26px;
}

.ingredient-sm {
  font-size: 13px;
  font-family: 'Hind Siliguri', sans-serif;

  &:not(:empty):not(:last-child):after {
    content: '| ';
  }
}
