<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorite Cocktails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="favorites && favorites.length > 0">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card
          *ngFor="let fav of favorites"
          [routerLink]="'/detail/'+fav.drinkId"
        >
          <ion-card-header
            class="ion-no-padding ion-padding-top ion-padding-horizontal"
          >
            <ion-card-title class="ion-text-left"
              >{{ fav.name }}</ion-card-title
            >
          </ion-card-header>
          <ion-img class="ion-padding" [src]="fav.imageUrl"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
